{% extends 'base.html.twig' %}

{% block title %}StockItem index{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}


{% block body %}

<style>
    body{
        background:#1E4C61;
        color:#fff;
        font-family: "Playfair Display", serif;
    }

    a{
        color:#27fccb;
    }

    .main-wrapper{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);

    }

    .table thead tr th{
        padding-left:10px;
        font-size:1.1em;
    }

    button{
         padding:10px 30px;
         background:#0B9E7C;
         cursor:pointer;
         color:#fff;
         font-family: "Playfair Display", serif;
         font-size:1em;
         border:none;
         transition: background 0.5s ease;

         &:hover{
            background: #54bba3;
         }
    }

    .show-edit,
    .create-logout{
        display:flex;
        gap:8px
    }
</style>
<div class = "main-wrapper">
    <h1>StockItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock_item in stock_items %}
            <tr>
                <td>{{ stock_item.id }}</td>
                <td>{{ stock_item.name }}</td>
                <td>{{ stock_item.quantity }}</td>
                <td>{{ stock_item.price }}</td>
                <td>{{ stock_item.description }}</td>
                <td>{{ stock_item.createdAt ? stock_item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ stock_item.updatedAt ? stock_item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {# <a href="{{ path('app_stock_item_show', {'id': stock_item.id}) }}">show</a> #}
                    {# <a href="{{ path('app_stock_item_edit', {'id': stock_item.id}) }}">edit</a> #}

                    <div class ="show-edit">
                        <form action="{{ path('app_stock_item_edit', {'id': stock_item.id}) }}" method="">
                            <button type ="submit" id="edit">Edit</button>
                        </form>

                        <form action="{{ path('app_stock_item_show', {'id': stock_item.id}) }}" method="">
                            <button type ="submit" id="show">Show</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="">Create new</a> #}
    <div class = "create-logout" >
        <form action="{{ path('app_stock_item_new') }}" method="">
            <button type ="submit" id="create">Create new</button>
        </form>

        <form action="{{ path('app_user_login') }}" method="">
            <button type ="submit" id="logout">Logout</button>
        </form>
    </div>

</div>
{% endblock %}
